.home-page__container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


@media screen and (max-width: 600px) {
    .home-page__container {
        width: 100%;
    }
}