.mensagem {
  width: fit-content;
  background-color: white;
  border-radius: 8px;
  box-shadow: 3px 3px lightgray;
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  position: fixed;
  top: 30%;
  left: calc((100vw - 280px) / 2);
}

.mensagem__botoes-container {
  display: flex;
  justify-content: space-around;
}

.mensagem__botao {
  padding: 12px;
  border-radius: 12px;
}

.mensagem__botao:hover {
  box-shadow: 3px 3px lightgray;
}

.mensagem__botao-sim {
  background-color: lightgray;
}

.mensagem__botao-sim:hover {
  border: 1px solid lightgray;
}

.mensagem__botao-cancelar {
  background-color: #58b09c;
}

.mensagem__botao-cancelar:hover {
  border: 1px solid #58b09c;
}
