.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100vw;
  padding: 2rem;
}

.save-button {
  padding: 1rem;
  min-width: 100px;
  background-color: cornflowerblue;
  border-radius: 0.5rem;
}

.save-button:hover {
  box-shadow: 3px 3px lightgray;
  background-color: royalblue;
}